.git
.github
.next
apps/extension/dist
apps/extension/*.zip
apps/mobile/.expo
apps/mobile/dist
coverage
logs
node_modules
.expo-home
tmp
temp
*.log
.DS_Store
.env
.env.*
!.env.example
!.env
!.env.production
