.git/*
!.git/HEAD
!.git/FETCH_HEAD
!.git/packed-refs
!.git/refs
!.git/refs/**
.github
.next
apps/web/.next
apps/extension/dist
apps/extension/*.zip
apps/mobile/.expo
apps/mobile/dist
coverage
logs
node_modules
.expo-home
tmp
temp
*.log
.DS_Store
.env
.env.*
.envs
env/examples
