GA4_ACCOUNT_ID=
GA4_PROPERTY_ID=
GSC_SITE_URL=https://bloxodes.com/
BING_WEBMASTER_SITE_URL=https://bloxodes.com/
BING_WEBMASTER_API_KEY=
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_SCOPES=
GOOGLE_OAUTH_REFRESH_TOKEN=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost
