[Unit]
Description=Recovery trigger for continuous Bloxodes wiki processing

[Timer]
OnCalendar=*-*-* 01/2:00:00
Persistent=true
Unit=bloxodes-wiki-builder.service

[Install]
WantedBy=timers.target
