INDEXNOW_ENABLED=false
INDEXNOW_KEY=
INDEXNOW_KEY_LOCATION=
INDEXNOW_ENDPOINT=https://api.indexnow.org/indexnow
INDEXNOW_BOOTSTRAP_SITEMAP_URL=https://bloxodes.com/sitemap.xml
INDEXNOW_BATCH_SIZE=1000
INDEXNOW_MAX_SITEMAPS=200
INDEXNOW_REQUEST_DELAY_MS=0
INDEXNOW_DRY_RUN=true
