DEPLOY_BRANCH=production
DEPLOY_REPO_URL=
DOKPLOY_PUBLIC_URL=
DOKPLOY_LOCAL_URL=http://127.0.0.1:3000
DOKPLOY_ADMIN_EMAIL=
DOKPLOY_ADMIN_PASSWORD=
DOKPLOY_APPLICATION_ID=
DOKPLOY_API_CLI_KEY=
DOKPLOY_API_DEPLOY_TOKEN=
DOKPLOY_API_URL=
DOKPLOY_API_TOKEN=
GHCR_DOKPLOY_USERNAME=
GHCR_DOKPLOY_TOKEN=
